


.navbar-fixed-top .container {
/* Uncomment to make nav expand full width */
 /*	width: auto; */
}
.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 1.05em;
}
.navbar .brand a span {
	color:#01A3B2;
}
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	/*font-family: 'Montserrat', Arial,Helvetica,sans-serif;*/
	font-family: 'Montserrat', Arial,Helvetica,sans-serif;
}
.navbar .brand a:hover {
	text-decoration: none;
	color:#01A3B2;
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
	outline: none;
}
.navbar-inner {
	min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	/*background-color: #0b333f;*/
	background-color: #000000;
	border: none;
	/*border-color: #1B6A88;*/
}
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}