* {
    margin: 0;
    padding: 0;
}

body {
    margin : 0;
    font-family : Arial;
    font-size: 21px;
    line-height: 1.6;
    color:#ffffff;
}

#showcase {
    background-image:url('../img/showcase.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

.button {
    text-decoration:none;
    padding: 10px;
    border-radius: 5px;
}
